<div class="gallery">
  {% assign images = include.images | split: ", " %}
  {% assign captions = include.captions | split: ", " %}

  {% for imageSrc in images %}
    <div
      class="gallery__img"
      data-src="{{ imageSrc }}"
      data-caption="{{ captions[forloop.index0] }}"
      style="background-image: url('{{ imageSrc }}');"></div>
  {% endfor %}
</div>

<script>
  galleryImages = window.galleryImages || [];
  (function iife() {
    const images = '{{ include.images }}'.split(', ');
    const captions = "{{ include.captions }}".split(', ');
    galleryImages = galleryImages.concat(images);

    let backdrop = document.querySelector('.gallery__backdrop');
    let fullSizeImg = document.querySelector('.gallery__backdrop__img');
    let captionEl = document.querySelector('.gallery__backdrop__caption');

    if (!backdrop) {
      console.log('No backdrop in DOM - creating...');
      backdrop = createAndAppendBackdrop();
    }

    const firstImage = document.querySelector(`[data-src$="${images[0]}"]`);
    let gallery = firstImage.parentElement;
    while (!gallery.matches('.gallery')) {
      gallery = gallery.parentElement;
    }
    gallery.addEventListener('click', handleImgClick, false);

    function handleImgClick(evt) {
      if (!evt.target.dataset.src) {
        console.log('no data src', evt.target);
        return;
      }

      setFullSizeData(evt.target.dataset);
      showBackdrop();
      backdrop.addEventListener('click', hideBackdrop, false);
      document.addEventListener('keydown', handleKeyDown, false);
    }

    function createAndAppendBackdrop() {
      const bd = document.createElement('div');
      bd.classList.add('gallery__backdrop');
      fullSizeImg = document.createElement('img');
      fullSizeImg.classList.add('gallery__backdrop__img');
      fullSizeImg.src = images[0];
      captionEl = document.createElement('p');
      captionEl.classList.add('gallery__backdrop__caption');
      captionEl.textContent = captions[0];

      bd.appendChild(fullSizeImg);
      bd.appendChild(captionEl);
      document.body.appendChild(bd);
      return bd;
    }

    function setFullSizeData({ src, caption }) {
      fullSizeImg.src = src;
      captionEl.textContent = caption;
    }

    function showBackdrop() {
      backdrop.classList.add('gallery__backdrop--active');
    }

    function hideBackdrop() {
      backdrop.classList.remove('gallery__backdrop--active');
      backdrop.removeEventListener('click', hideBackdrop, false);
      document.removeEventListener('keydown', handleKeyDown, false);
    }

    function handleKeyDown(evt) {
      const imageName = fullSizeImg.src.split('/').pop();
      const current = getImgFromDataSrc(imageName);
      if (evt.key === 'ArrowRight' && current) {
        const nextEl = getNextImage(current);
        console.log('nextEl', nextEl);
        if (nextEl) {
          setFullSizeData(nextEl.dataset);
        }
      }
      if (evt.key === 'ArrowLeft' && current && current.previousElementSibling) {
        const prevEl = getNextImage(current, -1);
        console.log('previousEl', prevEl);
        if (prevEl) {
          setFullSizeData(prevEl.dataset);
        }
      }
      if (evt.key === 'Escape') {
        hideBackdrop();
      }
    }

    function getNextImage(currentEl, delta = 1) {
      const nextEl = delta > 0 ? currentEl.nextElementSibling : current.previousElementSibling;
      if (nextEl) return nextEl;
      let nextIndex = (galleryImages.indexOf(current.dataset.src) + delta) % galleryImages.length; // cycle up
      if (nextIndex < 0) nextIndex = galleryImages.length - 1; // cycle down
      return galleryImages[nextIndex] && getImgFromDataSrc(galleryImages[nextIndex]);
    }

    function getImgFromDataSrc(src) {
      return document.querySelector(`[data-src$="${src}"]`);
    }
  }())
</script>
