<div class="gallery">
  {% assign images = include.images | split: ", " %}

  {% for imageSrc in images %}
    <div class="gallery__img" data-src="{{ imageSrc }}" style="background-image: url('{{ imageSrc }}');"></div>
  {% endfor %}
</div>

<div class="gallery__backdrop">
  <img class="gallery__backdrop__img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAEhQGAhKmMIQAAAABJRU5ErkJggg==" alt="">
</div>

<script>
  const gallery = document.querySelector('.gallery');
  const galleryBackdrop = document.querySelector('.gallery__backdrop');
  const fullSizeImg = document.querySelector('.gallery__backdrop__img');

  gallery.addEventListener('click', handleImgClick, false);

  function handleImgClick(evt) {
    if (!evt.target.dataset.src) {
      console.log('no data src', evt.target);
      return;
    }

    setFullSizeImageSrc(evt.target.dataset.src);
    showBackdrop();
    galleryBackdrop.addEventListener('click', hideBackdrop, false);
    document.addEventListener('keydown', handleKeyDown, false);
  }

  function setFullSizeImageSrc(src) {
    fullSizeImg.src = src;
  }

  function showBackdrop() {
    galleryBackdrop.classList.add('gallery__backdrop--active');
  }

  function hideBackdrop() {
    galleryBackdrop.classList.remove('gallery__backdrop--active');
    galleryBackdrop.removeEventListener('click', hideBackdrop, false);
    document.removeEventListener('keydown', handleKeyDown, false);
  }

  function handleKeyDown(evt) {
    const imageName = fullSizeImg.src.split('/').pop();
    const current = document.querySelector(`[data-src$="${imageName}"]`);
    console.log('current', current);
    if (evt.key === 'ArrowRight' && current) {
      setFullSizeImageSrc(current.nextElementSibling.dataset.src);
    }
    if (evt.key === 'ArrowLeft' && current) {
      setFullSizeImageSrc(current.previousElementSibling.dataset.src);
    }
    if (evt.key === 'Escape') {
      hideBackdrop();
    }
  }
</script>
