<div id="map" style="height: 330px;"></div>

<script>
  let map;
  let markers = [];

  const toDecimal = ([deg, min, sec]) => (deg + (min/60) + (sec/3600));
  const getLatLng = ({ GPSLatitude, GPSLongitude, GPSLatitudeRef, GPSLongitudeRef }) => {
    const latitudeFactor = GPSLatitudeRef === 'N' ? 1 : -1;
    const longitudeFactor = GPSLongitudeRef === 'E' ? 1 : -1;
    return {
      lat: toDecimal(GPSLatitude) * latitudeFactor,
      lng: toDecimal(GPSLongitude) * longitudeFactor
    };
  };

  function initMap() {
    console.log('initMap');
    map = L.map('map');
    window.map = map;

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    return map;
  }

  function createMarker(latlng, options = {}, content) {
    console.log('createMarker');
    const marker = L.marker(latlng, options).addTo(map);
    if (content) {
      marker.bindPopup(content);
    }
    return marker;
  }

  function fitMarkersInMap() {
    console.log('fitMarkersInMap', markers);
    if (!markers.length) {
      console.log('no images');
      return;
    }

    if (markers.length === 1) {
      console.log('only one image');
      const { lat, lng } = markers[0].getLatLng();
      console.log('lat, lng', lat, lng);
      // map.setView([59.3056, 17.965799999999998], 10)
      map.setView([lat, lng], 10);
      return;
    }

    console.log('several images');

    const { N, S, W, E } = markers
      .map((marker) => marker.getLatLng())
      .reduce((res, {lat, lng}) => {
        if (!res.N || lat > res.N) {
          res.N = lat;
        }
        if (!res.S || lat < res.S) {
          res.S = lat;
        }
        if (!res.E || lng > res.E) {
          res.E = lng;
        }
        if (!res.W || lng < res.W) {
          res.W = lng;
        }
      }, {});
    console.log('N, W, S, E', N, W, S, E);
    map.fitBounds([
      [N, W],
      [S, E]
    ]);
  }

  function onload() {
    console.log('onload');
    EXIF.getData(this, function() {
      const { lat, lng } = getLatLng(this.exifdata);
      const imageTitle = this.src.split('/').pop();
      console.log(imageTitle, {lat, lng});
      markers.push(createMarker([lat, lng], {}, `<p>${imageTitle}</p>`));
      fitMarkersInMap();
    });
  }

  window.addEventListener('DOMContentLoaded', () => {
    const images = Array.from(document.querySelectorAll('.fig__img'));
    console.log('images', images);

    if (images.length) {
      initMap();
      images.forEach((img) => img.onload = onload);
      images
        .filter((img) => img.complete)
        .forEach((img) => onload.call(img));
    }
  }, false);
</script>
