header,
footer {
  position: unset !important;
}

a:hover,
a:focus {
  font-weight: normal !important;
  text-decoration: underline;
}

blockquote {
  background-color: whitesmoke;
  border-left-width: 3px !important;
  color: #444;
  margin-bottom: 1em !important;
  padding: .75em !important;
  padding-left: 20px !important;
}
blockquote p:not(:last-of-type) {
  margin-bottom: .75em;
}
blockquote p:last-of-type {
  font-size: smaller;
  margin-bottom: 0;
}

.toc-list--active {
  font-weight: bold;
}

@media (min-width: 576px) {
  div.wrapper {
    width: 1024px;
  }
}
.wrapper > header,
.wrapper > footer {
  width: 300px;
}
.wrapper > section {
  width: 670px;
}

