header,
footer {
  position: unset !important;
}

a:hover,
a:focus {
  font-weight: normal !important;
  text-decoration: underline;
}

.toc-list--active {
  font-weight: bold;
}

@media (min-width: 576px) {
  div.wrapper {
    width: 1024px;
  }
}
.wrapper > header,
.wrapper > footer {
  width: 300px;
}
.wrapper > section {
  width: 670px;
}

