.fig {
  margin: 0 0 1em;
}
.fig__img {
  display: block;
}
.fig__caption {
  font-style: italic;
}

.toc-title {
  margin-bottom: .5em;
}

.toc-list {
  list-style-type: none;
  margin-bottom: 1em;
  padding-left: .5em;
}

/* unset theme styles */
.toc-list .toc__item {
  float: none;
  width: auto;
  border: none;
  height: auto;
}
